button.copy-text-btn:hover::after {
  content: " ( 복사할까요? )";
}

.modal-btn {
  border-style: solid;
  border-top: 4px;
  border-left: 4px;
}

.close-btn {
  font-size: 1.5rem;
  border-style: none;
}

a.custom-link {
  border: none;
}
a.custom-link::after {
  content: " →";
}
a.custom-link:hover {
  padding-left: 2rem;
  transition: padding-left 0.5s ease-in-out;
}
