.sero-container {
  display: grid;
  grid-template:
    "a a a"
    "k k2 k3"
    "e e e"
    "b c d";
  max-width: 600px;
  gap: 8px;
}

.sero-container > h2 {
  grid-area: a;
}
.sero-container > .sero {
  grid-area: b;
}
.sero-container > .tmp {
  grid-area: k;
}
.sero-container > .k2 {
  grid-area: k2;
  max-width: 250px;
}
.sero-container > .k3 {
  grid-area: k3;
  max-width: 250px;
}
.sero-container > table {
  grid-area: c;
}
.sero-container > button {
  grid-area: d;
}

.sero-container > .mid-div {
  grid-area: e;
}
