.help-icon {
  filter: invert(0);
  transition: filter 0.5s ease-in-out;

  border-radius: 0.5rem;
  /* --------------------------- margin-left: 1rem; --------------------------- */
}

.help-icon:hover {
  filter: invert(1);
}
