.parsing {
  display: grid;
  grid-template-columns: 8fr 2fr;
}

.parsing > .helpers {
  width: 100%;
}

.parsing > .contents {
  width: 100%;
}

/* .parse {
} */

.normal-parsing {
  display: flex;
  align-items: start;
}

.normal-parsing > .parsing-container1 {
  min-width: 400px;
  flex: 6;
}
.normal-parsing div {
  flex: 4;
}
