.tmp-container {
  display: flex;
  padding: 1rem;
  height: 80vh;
}
.tmp-inputs {
  display: flex;
  flex-direction: column;
}
.tmp-inputs > div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 8px;
}
.tmp-inputs-ta {
  display: flex;
  flex-direction: column;
}

.tmp-inputs-ta > textarea[name="paragraphA"] {
  font-size: x-large;
  padding: 4px;
  resize: both;
}

.tmp-res {
  padding: 1rem;
  overflow: scroll;
}
