.modal2 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

.modal-contents {
  list-style-type: none;
  position: absolute;
  left: 50%;
  background-color: var(--main-bgcolor);
  transform: translate(-50%, 20%);
  width: 60%;
  height: 70%;
  border-radius: 1rem;
  padding: 1rem;
  overflow-y: scroll;
}
.modal-contents::-webkit-scrollbar {
  display: none;
}
.modal-contents {
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.modal-contents > .close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  transform: translateY(10%);
  cursor: pointer;
}
