.option {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid;
  border-color: var(--main-color);
  flex-wrap: nowrap;
}
.option > table {
  flex-grow: 1;
}
.option > button {
  white-space: nowrap;
}
