:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-color: rgba(255, 255, 255, 0.87);
  --main-bgcolor: #242424;
}
@media (max-width: 512px) {
  body {
    font-size: 12px;
  }
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

#root {
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a,
button {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-weight: 700;
  text-decoration: none;

  border: solid black 2px;
  border-color: inherit;
  padding: 8px;
  border-radius: 1rem;

  font-size: 1em;
}
a.current {
  color: #213547;
  background-color: #ffffff;
  border: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    --main-color: #213547;
    --main-bgcolor: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
  a,
  button {
    color: #213547;
    background-color: #ffffff;
  }
  a.current {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    border: none;
  }
}

nav > ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
}

button {
  filter: invert(0);
  transition: filter 0.5s ease-in-out;

  border-radius: 0.5rem;
}

button:hover {
  filter: invert(1);
}

.regular-box {
  border-style: solid;
  border-width: 2px;
  border-color: var(--main-color);
  border-radius: 1rem;
}

.temp-ss {
  padding-top: 1rem;
  display: flex;
  gap: 1rem;
}

.normal-parsing {
  display: flex;
  gap: 8px;
}
.normal-parsing > div {
  padding: 4px;
  border: solid 1px var(--main-color);
  max-width: 600px;
}
table {
  table-layout: fixed;
}

col:first-child {
  width: 21px;
}

.temp {
  display: flex;
  gap: 8px;
  padding: 16px;
}

.essay-box > p {
  white-space: pre-line;
}
.answer-box {
  white-space: pre-line;
}
.ssss {
  display: none;
}
