.accordion {
	padding: 1rem;
}

.accordion .container .accordion-item {
	border: solid var(--main-color) 0.1rem;
	padding: 0.5rem;
}

.accordion .container .accordion-item.open {
	background-color: var(--sub-color);
}
.accordion .container .accordion-item.close h4::before {
	content: '+ ';
}
.accordion .container .accordion-item.open h4::before {
	content: '- ';
}

.accordion .container .accordion-item.css.open p {
	display: block;
}
.accordion .container .accordion-item.css.close p {
	/* sr-only */
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

/* 3번째 예시 */
.accordion .container .accordion-item.anime1 p {
	border-bottom-width: 0;
	max-height: 0;
	transition: ease 0.3s;
}
.accordion .container .accordion-item.anime1.open p {
	border-bottom-width: 1px;
	max-height: 300px;
}
